<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.BebeDex"
        tools:targetApi="31">
        <activity
            android:name=".data.biberon.BiberonEntity"
            android:exported="false"
            android:label="@string/title_activity_biberon_entity"
            android:theme="@style/Theme.BebeDex" />
        <activity
            android:name=".data.biberon.BiberonDao"
            android:exported="false"
            android:label="@string/title_activity_biberon_dao"
            android:theme="@style/Theme.BebeDex" />
        <activity
            android:name=".data.biberon.BiberonDatabase"
            android:exported="false"
            android:label="@string/title_activity_biberon_database"
            android:theme="@style/Theme.BebeDex" />
        <activity
            android:name=".features.profil.components.BebeCardHeader"
            android:exported="false"
            android:label="@string/title_activity_bebe_card_header"
            android:theme="@style/Theme.BebeDex" />
        <activity
            android:name=".data.BebeDao"
            android:exported="false"
            android:label="@string/title_activity_bebe_dao"
            android:theme="@style/Theme.BebeDex" />
        <activity
            android:name=".BebeEntity"
            android:exported="false"
            android:label="@string/title_activity_bebe_entity"
            android:theme="@style/Theme.BebeDex" />
        <activity
            android:name=".data.BebeDatabase"
            android:exported="false"
            android:label="@string/title_activity_bebe_database"
            android:theme="@style/Theme.BebeDex" />
        <activity
            android:name=".BabyStorage"
            android:exported="false"
            android:label="@string/title_activity_baby_storage"
            android:theme="@style/Theme.BebeDex" />
        <activity
            android:name=".BiberonTracker"
            android:exported="false"
            android:label="@string/title_activity_biberon_tracker"
            android:theme="@style/Theme.BebeDex" />
        <activity
            android:name=".LevelUpScreen"
            android:exported="false"
            android:label="@string/title_activity_level_up_screen"
            android:theme="@style/Theme.BebeDex" /> <!-- Écran d'introduction -->
        <activity
            android:name=".IntroActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/Theme.BebeDex" /> <!-- Écran de démarrage (Splash) = Launcher -->
        <activity
            android:name=".SplashActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/Theme.BebeDex">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity> <!-- Écran de détail d'un bébé -->
        <activity
            android:name=".features.profil.BebeDetailActivity"
            android:exported="false"
            android:label="@string/title_activity_bebe_detail"
            android:theme="@style/Theme.BebeDex" /> <!-- Écran principal : liste des bébés -->
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/Theme.BebeDex" />
    </application>

</manifest>